.button {
  height: 40px;
  width: 100px;
  background-color: #382f5a;
  border: 2px solid #585076;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #d4d2db;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .button {
    flex-wrap: wrap;
    height: 60px;
    width: 150px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-size: 34px;
  }
}
